<p-card header="Nova Marca"> <br>
  <form #marcaForm="ngForm" (ngSubmit)="adicionar()">
    <div class="input-container">
      <div class="field">
        <label for="nome"><strong>Nome:</strong></label>
        <input id="nome" type="text" pInputText [(ngModel)]="nome" name="nome" required />
      </div>
      <div class="field">
        <label for="descricao"><strong>Descrição:</strong></label>
        <input id="descricao" type="text" pInputText [(ngModel)]="descricao" name="descricao" required />
      </div>
    </div>
    <button type="submit" pButton label="Adicionar"></button>
  </form>
</p-card>

<p-toast></p-toast>
