<p-card header="Novo Modelo">
  <form #modeloForm="ngForm" (ngSubmit)="adicionar()">
    <div class="input-container">
      <div class="field">
        <label for="nome"><strong>Nome: </strong></label>
        <input id="nome" type="text" pInputText [(ngModel)]="nome" name="nome" required />
      </div>
      <div class="field">
        <label for="descricao"><strong>Descrição: </strong></label>
        <input id="descricao" type="text" pInputText [(ngModel)]="descricao" name="descricao" required />
      </div>
    </div>

    <div class="field">
      <label for="cliente"><strong>Marca:</strong></label> <br><br>
      <p-autoComplete
        [(ngModel)]="marcaSelecionada"
        name="marcaSelecionada"
        [suggestions]="marcaSugestao"
        (completeMethod)="searchMarca($event)"
        field="nome"
        [dropdown]="true"
        forceSelection="true"
        placeholder="Digite o nome da Marca"
        styleClass="w-full"
        required>
      </p-autoComplete>
    </div> <br>

    <button type="submit" pButton label="Adicionar"></button>
  </form>
</p-card>

<p-toast></p-toast>
