<p-card header="Cadastro de Peças"> <br>
  <form #pecasForm = "ngForm" (ngSubmit)="adicionar()">
    <div class="input-container">
      <div class="field">
        <label for="nome"><strong>Nome: </strong></label>
        <input id="nome" type="text" pInputText [(ngModel)]="nome" name="nome" required />
      </div>
      <div class="field">
        <label for="fabricante"><strong>Fabricante: </strong></label>
        <input id="fabricante" type="text" pInputText [(ngModel)]="fabricante" name="fabricante" required />
      </div>
      <div class="field">
        <label for="volumeTamanho"><strong>Volume/Tamanho: </strong></label>
        <input id="volumeTamanho" type="text" pInputText [(ngModel)]="volumeTamanho" name="volumeTamanho" required />
      </div>
      <div class="field">
        <label for="quantidadeEstoque"><strong>Quantidade em estoque:</strong></label>
        <input id="quantidadeEstoque" type="number" pInputText [(ngModel)]="quantidadeEstoque" name="quantidadeEstoque" step="0" min="0" required />
      </div>
      <div class="field">
        <label for="valorUnitario"><strong>Valor unitário:</strong></label>
        <input id="valorUnitario" type="number" pInputText [(ngModel)]="valorUnitario" name="valorUnitario" step="0.01" min="0" required />
      </div>
    </div>
    <button type="submit" pButton label="Adicionar"></button>
  </form>
</p-card>

<p-toast></p-toast>
