<p-card header="Cadastro de Serviços"> <br>
  <form #servicoForm = "ngForm" (ngSubmit)="adicionar()">
    <div class="input-container">
      <div class="field">
        <label for="nome"><strong>Nome: </strong></label>
        <input id="nome" type="text" pInputText [(ngModel)]="nome" name="nome" required />
      </div>
      <div class="field">
        <label for="descricao"><strong>Descrição: </strong></label>
        <input id="descricao" type="text" pInputText [(ngModel)]="descricao" name="descricao" required />
      </div>
      <div class="field">
        <label for="valorUnitario"><strong>Valor Unitário:</strong></label>
        <input id="valorUnitario" type="number" pInputText [(ngModel)]="valorUnitario" name="valorUnitario" step="0.01" min="0" required />
      </div>
    </div>
    <button type="submit" pButton label="Adicionar"></button>
  </form>
</p-card>

<p-toast></p-toast>
