<div class="header">
  <h2>Lista de Veiculos</h2>
  <p-button routerLink="/veiculo/form" label="Adicionar Veiculo" ></p-button>
</div>

<p-table [value]="veiculos" [tableStyle]="{ 'min-width': '50rem' }">
  <ng-template pTemplate="header">
    <tr>
      <th>Proprietario</th>
      <th>Placa</th>
      <th>Modelo</th>
      <th>Ações</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-veiculo>
    <tr>
      <td>{{ veiculo.identificadorPatrimonio }}</td>
      <td>{{ veiculo.placa }}</td>
      <td>{{ veiculo.modelo.nome }}</td>
      <td>
        <p-button type="button" label="Visualizar" severity="info" class="button-spacing" (click)="view(veiculo)"></p-button>
        <p-button type="button" label="Editar" severity="warn" class="button-spacing" (click)="edit(veiculo)"></p-button>
        <p-button label="Excluir" severity="danger" *ngIf="veiculo.placa !== undefined" (click)="deletar(veiculo.placa)"></p-button>
      </td>
    </tr>
  </ng-template>
</p-table>

<!-- Visualização por Dialog -->
<p-dialog header="Detalhes do Veiculo" [(visible)]="displayDialogView" modal="true" [style]="{width: '30vw'}" [closable]="true">
  <div *ngIf="veiculoSelecionado">
    <p><strong>Placa:</strong> {{ veiculoSelecionado.placa }}</p>
    <p><strong>Chassi:</strong> {{ veiculoSelecionado.chassi }}</p>
    <p><strong>Renavan:</strong> {{ veiculoSelecionado.renavan }}</p>
    <p><strong>Ano Fabricação:</strong> {{ veiculoSelecionado.anoFabricacao }}</p>
    <p><strong>Ano Modelo:</strong> {{ veiculoSelecionado.anoModelo }}</p>
    <p><strong>KM:</strong> {{ veiculoSelecionado.quilometragem }}</p>
    <hr>
    <h5>Acessorios</h5>
    <div *ngIf="veiculoSelecionado.veiculoAcessorios.length > 0; else noAcessorios">
      <p-chip *ngFor="let va of veiculoSelecionado.veiculoAcessorios" [label]="va.acessorio.nome" styleClass="mr-2"></p-chip>
    </div>
    <ng-template #noAcessorios>
      <p>Nenhum acessório cadastrado.</p>
    </ng-template>
    <p><strong>Proprietario:</strong> {{ veiculoSelecionado.identificadorPatrimonio }}</p>
    <p><strong>Modelo:</strong> {{ veiculoSelecionado.modelo.nome }}</p>
    <td class="p-dialog-footer">
      <p-button type="button" label="Editar" severity="warn" class="button-spacing" (click)="edit(veiculoSelecionado!)"></p-button>
      <p-button type="button" label="Deletar" severity="danger" class="button-spacing" (click)="deletar(veiculoSelecionado!.placa)"></p-button>
    </td>
  </div>
</p-dialog>

<!-- Edição por Dialog -->
<p-dialog header="Editar Veiculo" [(visible)]="displayDialogEdit" modal="true" [style]="{width: '30vw'}" [closable]="true">
  <form *ngIf="veiculoSelecionado" (ngSubmit)="update()">
    <div class="p-fluid">
      <div class="p-field">
        <label for="placa"><strong>Placa: (Não editável)</strong></label>
        <input id="placa" type="text" pInputText [(ngModel)]="veiculoSelecionado.placa" name="placa" required [disabled]="true" />
      </div> <br>
      <div class="p-field">
        <label for="chassi"><strong>Chassi: </strong></label>
        <input id="chassi" type="text" pInputText [(ngModel)]="veiculoSelecionado.chassi" name="chassi" required />
      </div> <br>
      <div class="p-field">
        <label for="renavan"><strong>Renavan: </strong></label>
        <input id="renavan" type="text" pInputText [(ngModel)]="veiculoSelecionado.renavan" name="renavan" required />
      </div> <br>
      <div class="p-field">
        <label for="anoFabricacao"><strong>Ano de Fabricação: </strong></label>
        <input id="anoFabricacao" type="text" pInputText [(ngModel)]="veiculoSelecionado.anoFabricacao" name="anoFabricacao" required />
      </div> <br>
      <div class="p-field">
        <label for="anoModelo"><strong>Modelo Ano: </strong></label>
        <input id="anoModelo" type="text" pInputText [(ngModel)]="veiculoSelecionado.anoModelo" name="anoModelo" required />
      </div> <br>
      <div class="p-field">
        <label for="quilometragem"><strong>KM: </strong></label>
        <input id="quilometragem" type="text" pInputText [(ngModel)]="veiculoSelecionado.quilometragem" name="quilometragem" required />
      </div> <br>
      <div class="p-field">
        <label for="proprietarioEdit"><strong>Proprietario: </strong></label>
        <p-autoComplete id="proprietarioEdit" [(ngModel)]="clienteSelecionadoEdit" name="clienteSelecionadoEdit"
                        [suggestions]="sugestaoClientes" (completeMethod)="searchClienteEdit($event)"
                        field="nome" [dropdown]="true" forceSelection="true" required>
        </p-autoComplete>
      </div> <br>

      <div class="p-field">
        <label for="modeloEdit"><strong>Modelo:</strong></label>
        <p-autoComplete id="modeloEdit" [(ngModel)]="modeloSelecionadoEdit" name="modeloEdit"
                        [suggestions]="sugestaoModelos" (completeMethod)="searchModeloEdit($event)"
                        field="nome" [dropdown]="true" forceSelection="true" required>

        </p-autoComplete>
      </div>
      <hr>
      <h5>Acessórios</h5>
      <div class="chip-container mb-3" *ngIf="veiculoSelecionado.veiculoAcessorios.length > 0">
        <p-chip *ngFor="let va of veiculoSelecionado.veiculoAcessorios; let i = index"
                [label]="va.acessorio.nome" [removable]="true" (onRemove)="removerAcessorioEdit(i)"
                styleClass="mr-2">
        </p-chip>
      </div>
      <div class="p-fluid grid formgrid">
        <div class="field col-12 md:col-4">
          <label for="acessorioNomeEdit">Nome do Acessório:</label>
          <input id="acessorioNomeEdit" type="text" pInputText [(ngModel)]="novoAcessorioNomeEdit" name="novoAcessorioNomeEdit">
        </div> <br>
        <div class="field col-12 md:col-6">
          <label for="acessorioDescEdit">Descrição:</label>
          <textarea id="acessorioDescEdit" pInputTextarea [(ngModel)]="novoAcessorioDescEdit" name="novoAcessorioDescEdit" rows="1"></textarea>
        </div> <br>
        <div class="field col-12 md:col-2 flex align-items-end">
          <p-button type="button" icon="pi pi-plus" label="Add" (click)="adicionarAcessorioEdit()" styleClass="p-button-outlined w-full"></p-button>
        </div> <br>
      </div>
      <td class="p-dialog-footer">
        <p-button type="submit" label="Salvar" severity="success" class="button-spacing" ></p-button>
        <p-button type="button" label="Cancelar" severity="secondary" class="button-spacing" (click)="displayDialogEdit=false"></p-button>
      </td>
    </div>
  </form>
</p-dialog>

<p-dialog header="Erro" [(visible)]="displayErrorDialog" modal="true" [closable]="true">
  <p>{{ errorMessage }}</p>
</p-dialog>

<!-- PrimeNG Toast para exibir notificações -->
<p-toast></p-toast>
<p-confirmDialog></p-confirmDialog>
