<p-card header="Novo Cliente">
  <form #clienteForm="ngForm" (ngSubmit)="adicionar()">

    <!-- Seletor de Tipo -->
    <div class="field mb-4">
      <p-selectButton [options]="tiposDeClienteOpcoes" [(ngModel)]="tipoCliente" name="tipoCliente" optionLabel="label" optionValue="value"></p-selectButton>
    </div>

      <div class="input-container">
        <label for="nome">Nome: </label>
        <input id="nome" type="text" pInputText [(ngModel)]="cliente.nome" name="nome" required/>

        <ng-container *ngIf="tipoCliente === 'PF'">
          <label for="cpf">CPF: </label>
          <input id="cpf" type="text" pInputText [(ngModel)]="cliente.cpf" name="cpf"  required />

          <label for="dataDeNascimento">Data de Nascimento: </label>
          <input id="dataDeNascimento" type="text" pInputText [(ngModel)]="cliente.dataDeNascimento" name="dataDeNascimento" />
        </ng-container>

        <ng-container *ngIf="tipoCliente === 'PJ'">
          <label for="cnpj">CNPJ:  </label>
          <input id="cnpj" type="text" pInputText [(ngModel)]="cliente.cnpj" name="cnpj" required />

          <label for="razaoSocial">Razão Social: </label>
          <input id="razaoSocial" type="text" pInputText [(ngModel)]="cliente.razaoSocial" name="razaoSocial" required/>

        </ng-container>

        <label for="email">Email: </label>
        <input id="email" type="text" pInputText [(ngModel)]="cliente.email" name="email" required />

      </div> <br>

    <div class="input-container">

      <label for="telefone">Telefone: </label>
      <input id="telefone" type="text" pInputText [(ngModel)]="cliente.telefone" name="telefone" required />

      <label for="cep">CEP: </label>
      <input id="cep" type="text" pInputText [(ngModel)]="cliente.cep" name="cep" required />

      <label for="endereco">Endereço: </label>
      <input id="endereco" type="text" pInputText [(ngModel)]="cliente.endereco" name="endereco" required />


    </div>
    <br>

    <div class="input-container">
      <ng-container *ngIf="tipoCliente === 'PJ'">
        <label for="inscricaoSocial">Inscrição Estadual: </label>
        <input id="inscricaoSocial" type="text" pInputText [(ngModel)]="cliente.inscricaoSocial" name="inscricaoSocial" required/>

        <label for="nomeResposavel">Nome do Responsavel: </label>
        <input id="nomeResposavel" type="text" pInputText [(ngModel)]="cliente.nomeResposavel" name="nomeResposavel" required/>

        <label for="contatoResponsavel">Contato do Responsavel: </label>
        <input id="contatoResponsavel" type="text" pInputText [(ngModel)]="cliente.contatoResponsavel" name="contatoResponsavel" required />

      </ng-container>
    </div>


    <div class="flex justify-content-end mt-4">
      <p-button type="submit" label="Adicionar" icon="pi pi-check" [disabled]="!clienteForm.form.valid" ></p-button>
    </div>
  </form>
</p-card>

<p-toast></p-toast>
