<div class="header">
  <h2>Lista de Marcas</h2>
  <p-button routerLink="/marca/form" label="Adicionar marca" ></p-button>
</div>
<p-table [value]="marcas" [tableStyle]="{ 'min-width': '50rem' }">
  <ng-template pTemplate="header">
    <tr>
      <th>Nome</th>
      <th>Descrição</th>
      <th>Ações</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-marca>
    <tr>
      <td>{{ marca.nome }}</td>
      <td>{{ marca.descricao }}</td>
      <td>
        <button pButton type="button" label="Visualizar" severity="info" class="button-spacing" (click)="view(marca)"></button>
        <button pButton type="button" label="Editar" severity="warn" class="button-spacing" (click)="edit(marca)"></button>
        <button pButton type="button" label="Deletar" severity="danger" class="button-spacing" (click)="deletar(marca.id)"></button>
      </td>
    </tr>
  </ng-template>
</p-table>

<!-- Visualização por Dialog -->
<p-dialog header="Visualizar" [(visible)]="displayDialogView" modal="true" [style]="{width: '30vw'}" [closable]="true">
  <div *ngIf="marcaSelecionada">
    <p><strong>ID:</strong> {{ marcaSelecionada.id }}</p>
    <p><strong>Nome:</strong> {{ marcaSelecionada.nome }}</p>
    <p><strong>CPF:</strong> {{ marcaSelecionada.descricao }}</p>
    <td class="p-dialog-footer">
      <button pButton type="button" label="Editar" class="p-button-warning button-spacing" (click)="edit(marcaSelecionada)" (click)="displayDialogView=false"></button>
      <button pButton type="button" label="Deletar" class="p-button-danger" (click)="displayDialogView=false" (click)="deletar(marcaSelecionada.id)"></button>
    </td>
  </div>
</p-dialog>

<!-- Edição por Dialog -->
<p-dialog header="Editar" [(visible)]="displayDialogEdit" modal="true" [style]="{width: '30vw'}" [closable]="true">
  <form *ngIf="marcaSelecionada" (ngSubmit)="update()">
    <div class="p-fluid">
      <div class="p-field">
        <p><strong>ID:</strong> {{ marcaSelecionada.id }}</p>
      </div>
      <div class="p-field">
        <label for="nome"><strong>Nome: </strong></label>
        <input id="nome" type="text" pInputText [(ngModel)]="marcaSelecionada.nome" name="nome" required />
      </div>
      <br>
      <div class="p-field">
        <label for="descricao"><strong>Descrição: </strong></label>
        <input id="descricao" type="text" pInputText [(ngModel)]="marcaSelecionada.descricao" name="descricao" required />
      </div>
      <br>
      <td class="p-dialog-footer">
        <button pButton type="submit" label="Salvar" class="p-button-success button-spacing" ></button>
        <button pButton type="button" label="Cancelar" class="p-button-secondary" (click)="displayDialogEdit=false"></button>
      </td>
    </div>
  </form>
</p-dialog>

<p-dialog header="Erro" [(visible)]="displayErrorDialog" modal="modal" [closable]="true">
  <p>{{ errorMessage }}</p>
</p-dialog>

<!-- PrimeNG Toast para exibir notificações -->
<p-toast></p-toast>
